{% extends 'basee.html' %}
{% load static %}
{% block content %}

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'project/img/Fixsemarang/semarang 1.22.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="page-title">Dufan</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <!--<li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
                                <li class="breadcrumb-item active" aria-current="page">Aibnya juga gapapa ya WKKWKW</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Our Speakings Area Start -->
    <section class="our-speaker-area section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixdufan/dufan 1.2.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixdufan/dufan 1.4.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixdufan/dufan 1.6.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixdufan/dufan 1.10.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixdufan/dufan 1.12.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixdufan/dufan 1.1.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-16">
                        <video width="500" controls>
                            <!--<img class="mb-30" src="{% static 'project/img/bg-img/51.jpg' %}" alt="">-->
                          <source src="{% static 'project/img/Fixdufan/videos/barumasuk.mp4' %}" type="video/mp4">
                        </video>

                    <!--<div class="col-6">
                        <img class="mb-30" src="{% static 'project/img/bg-img/52.jpg' %}" alt="">
                    </div>-->

                        <video width="500" controls>
                            <!--<img class="mb-30" src="{% static 'project/img/bg-img/51.jpg' %}" alt="">-->
                          <source src="{% static 'project/img/Fixdufan/videos/gajahmuter.mp4' %}" type="video/mp4">
                        </video>

                    <!--<div class="col-6">
                        <img class="mb-30" src="{% static 'project/img/bg-img/52.jpg' %}" alt="">
                    </div>-->

                        <video width="500" controls>
                            <!--<img class="mb-30" src="{% static 'project/img/bg-img/51.jpg' %}" alt="">-->
                          <source src="{% static 'project/img/Fixdufan/videos/kp1.mp4' %}" type="video/mp4">
                        </video>
                    <!--<div class="col-6">
                        <img class="mb-30" src="{% static 'project/img/bg-img/52.jpg' %}" alt="">
                    </div>-->

                        <video width="500" controls>
                            <!--<img class="mb-30" src="{% static 'project/img/bg-img/51.jpg' %}" alt="">-->
                          <source src="{% static 'project/img/Fixdufan/videos/kp3.mp4' %}" type="video/mp4">
                        </video>

                    <!--<div class="col-6">
                        <img class="mb-30" src="{% static 'project/img/bg-img/52.jpg' %}" alt="">
                    </div>-->
                     </div>
                </div>
            </div>
        </div>
    </section>
     <!-- Blog Area Start -->
    <section class="confer-blog-details-area section-padding-50-0">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Post Details Area -->
                <div class="col-12 col-lg-8 col-xl-9">
                    <div class="pr-lg-4 mb-100">
                        <!-- Post Content -->
                        <div class="post-details-content" align="justify">

                            <p>Pertama kali verdy ke dufannn dan sama nanda yeayyy. Beruntung banget kitayahhh dufan
                            sesepi ituu jadi bisa nyobain banyaaak banget wahana. Korakora, kincir, iceage, roller coaster,
                            trus yang airair ituu, truss yangg mutermuter diatass lupa namanyaa, dann komedi putarr 2 kali
                            WWKWKKW. Dapettt kartu gratis ke dufan setahun tapii gakepakeee :(. Senengg bangett bisa ke dufann
                            samaa kamuuu yeayyy</p>

                        </div>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our Speakings Area End -->
</body>

{% endblock content %}

