{% extends 'basee.html' %}
{% load static %}
{% block content %}

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'project/img/Fixsemarang/semarang 1.22.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="page-title">Kota Tua</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <!--<li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
                                <li class="breadcrumb-item active" aria-current="page">Aibnya juga gapapa ya WKKWKW</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Our Speakings Area Start -->
    <section class="our-speaker-area section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixkotu/kotu 1.5.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixkotu/kotu 1.7.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixkotu/kotu 1.6.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixkotu/kotu 1.9.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixkotu/kotu 1.15.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixkotu/kotu 1.18.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!--<div class="row">
                    <div class="col-16">
                        <video width="300" controls>
                            <!--<img class="mb-30" src="{% static 'project/img/bg-img/51.jpg' %}" alt="">
                          <source src="{% static 'project/img/Fixkotu/videos/vid 10.mp4' %}" type="video/mp4">
                        </video>

                    <div class="col-6">
                        <img class="mb-30" src="{% static 'project/img/bg-img/52.jpg' %}" alt="">
                    </div>

                        <video width="300" controls>
                            <img class="mb-30" src="{% static 'project/img/bg-img/51.jpg' %}" alt="">
                          <source src="{% static 'project/img/Fixkotu/videos/vid 12.mp4' %}" type="video/mp4">
                        </video>

                    <div class="col-6">
                        <img class="mb-30" src="{% static 'project/img/bg-img/52.jpg' %}" alt="">
                    </div>

                        <video width="300" controls>
                            <!--<img class="mb-30" src="{% static 'project/img/bg-img/51.jpg' %}" alt="">
                          <source src="{% static 'project/img/Fixkotu/videos/vid 7.mp4' %}" type="video/mp4">
                        </video>
                    <div class="col-6">
                        <img class="mb-30" src="{% static 'project/img/bg-img/52.jpg' %}" alt="">
                    </div>

                        <video width="270" controls>
                            <img class="mb-30" src="{% static 'project/img/bg-img/51.jpg' %}" alt="">
                          <source src="{% static 'project/img/Fixkotu/videos/vid 23.mp4' %}" type="video/mp4">
                        </video>

                    <div class="col-6">
                        <img class="mb-30" src="{% static 'project/img/bg-img/52.jpg' %}" alt="">
                    </div>
                     </div>
                </div>-->

                <div class="row">
                    <div class="col-16">
                        <video width="300" controls>
                            <!--<img class="mb-30" src="{% static 'project/img/bg-img/51.jpg' %}" alt="">-->
                          <source src="{% static 'project/img/Fixkotu/videos/vid 22.mp4' %}" type="video/mp4">
                        </video>

                    <!--<div class="col-6">
                        <img class="mb-30" src="{% static 'project/img/bg-img/52.jpg' %}" alt="">
                    </div>-->

                        <video width="300" controls>
                            <!--<img class="mb-30" src="{% static 'project/img/bg-img/51.jpg' %}" alt="">-->
                          <source src="{% static 'project/img/Fixkotu/videos/vid 25.mp4' %}" type="video/mp4">
                        </video>

                    <!--<div class="col-6">
                        <img class="mb-30" src="{% static 'project/img/bg-img/52.jpg' %}" alt="">
                    </div>-->

                        <video width="300" controls>
                            <!--<img class="mb-30" src="{% static 'project/img/bg-img/51.jpg' %}" alt="">-->
                          <source src="{% static 'project/img/Fixkotu/videos/vid 24.mp4' %}" type="video/mp4">
                        </video>
                        
                    <!--<div class="col-6">
                        <img class="mb-30" src="{% static 'project/img/bg-img/52.jpg' %}" alt="">
                    </div>-->

                        <video width="270" controls>
                            <!--<img class="mb-30" src="{% static 'project/img/bg-img/51.jpg' %}" alt="">-->
                          <source src="{% static 'project/img/Fixkotu/videos/vid 13.mp4' %}" type="video/mp4">
                        </video>

                    <!--<div class="col-6">
                        <img class="mb-30" src="{% static 'project/img/bg-img/52.jpg' %}" alt="">
                    </div>-->
                     </div>
                </div>
            </div>
        </div>
    </section>
     <!-- Blog Area Start -->
    <section class="confer-blog-details-area section-padding-50-0">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Post Details Area -->
                <div class="col-12 col-lg-8 col-xl-9">
                    <div class="pr-lg-4 mb-100">
                        <!-- Post Content -->
                        <div class="post-details-content" align="justify">

                            <p>Disini kitaa jalanjalan jauh bangett sampe kota tua, impulsif banget lagiii sampe kamu kecapean
                            bawa tasnya WKWKKWKW. Ke museum gajahhh, truss kee kota tuaa, trus sorenyaa makan di kokaass dan aku
                            panikk hampir ketilang garagaraa ga nyalain lampu WKWK. Pengen makan apa gitu yang kamu bilang di
                            kota tua tapi tutup. Naik buss tingkatt pertama kali buat verdyy truss hampir salah turunn pas pulangg
                            WKWKKW dann untung pas nyampe museum gajah jam 4 an kalo engga motor aing disitu ampe besok :).
                            Sorenyaa mam di kokass kita udah kayaa lemes banget kelaperann. Ada yang soksokan beli es duren tapi
                            malah banyak banget dan gaabis WKWKKWK. Seru banget yeayy!!</p>

                        </div>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our Speakings Area End -->
</body>

{% endblock content %}

