{% extends 'basee.html' %}
{% load static %}
{% block content %}

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'project/img/Fixsemarang/semarang 1.22.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="page-title">Semarang</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <!--<li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
                                <li class="breadcrumb-item active" aria-current="page">Aibnya juga gapapa ya WKKWKW</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Our Speakings Area Start -->
    <section class="our-speaker-area section-padding-100">
        <div class="container">
            <div class="row">

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixsemarang/semarang 1.39.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixsemarang/semarang 1.40.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixsemarang/semarang 1.42.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixsemarang/semarang 1.38.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixsemarang/semarang 1.33.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixsemarang/semarang 1.29.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixsemarang/semarang 1.24.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixsemarang/semarang 1.16.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixsemarang/semarang 1.19.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixsemarang/semarang 1.8.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixsemarang/semarang 1.6.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'project/img/Fixsemarang/semarang 1.26.jpg' %}" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
     <!-- Blog Area Start -->
    <section class="confer-blog-details-area section-padding-50-0">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Post Details Area -->
                <div class="col-12 col-lg-8 col-xl-9">
                    <div class="pr-lg-4 mb-100">
                        <!-- Post Content -->
                        <div class="post-details-content" align="justify">

                            <p>Seneng bangett akhirnya kita bisaa ketemu lagiyah di semaranggggg. Bisa dibilang
                            ini verdy cukup nekatt sihh WKKWKWKWK. Tapii kaloo ingett kita jalanjalan kee lawang sewuu truss
                            klenteng sam poo kong trusss mall apa namanya lupaa wkwkkww, samaaa mamm nasi gorengg babatt,
                            kejadiannnn motor hampir mogokkk yaampun itu w degdegan banget. Udah mogokkk susah di starter,
                            gasnya keras lagi WKKWKKW. Malemnyaa nyobaa mamm telor bakaar sama belii fremilt dehhh
                            mauuu ke taman tirto agungg gajadi yahh sayangg. Makasihhyaaa, senenggg yeayyyyy.</p>

                        </div>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our Speakings Area End -->
</body>

{% endblock content %}

